$svg-ico-width: 30px;
$svg-ico-height: 30px;

.mb20{margin-bottom:20px}
.task-description{
    margin:20px 0px;
}
.icons-list{
    background:#f5f5f5;
    padding: 5px;
    text-align: right;
    margin:20px 0px;
}
.anticon-edit{
    svg{
        width:25px;
        height:25px
    }
}
.anticon-eye{
     svg{
         width: $svg-ico-width;
         height:$svg-ico-height;
        }
}
.anticon-eye-invisible{
    svg{
        width:$svg-ico-width;
        height:$svg-ico-height;
    }
}
.ant-btn-primary{
    margin:20px 0px;
}