.filters {
  display: flex;
  &_item {
    width: 120px;
  }
  &-row {
    margin-bottom: 15px !important;
    .filters_item {
      margin-right: 5px !important;
    }
  }
  &-column{
    flex-direction: column;
    .filters_item{
      margin-bottom: 5px !important;
    }
  }
}

.view-type {
  margin-bottom: 15px !important;
}

.test-filters {
  padding: 15px 15px;
}
