.ant-picker-calendar-header {
  display: none;
}

.ant-picker-calendar {
  margin: 0 30px;

  .events {
    list-style: none;
    padding: 0 5px;
  }
}

.calendar {
  margin: 20px;

  .calendar-title {
    text-align: center;
    font-size: 16px;

    span:first-child {
      font-weight: 600;
      margin-right: 2px;
    }
  }

  .events-title {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

    li {
      margin-right: 20px;
    }
  }
}
