.ant-picker-calendar-header {
  display: none;
}

.ant-picker-calendar {
  margin: 0 30px;

  .events {
    list-style: none;
    padding: 0 5px;
  }

  .size {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
  }
  .size:hover {
    white-space: normal;
  }
}

.calendar {
  .calendar-title {
    text-align: center;
    font-size: 16px;

    span:first-child {
      font-weight: 600;
      margin-right: 2px;
    }
  }
}
